@font-face {
    font-family: "OpenSansBold";
    font-style: normal;
  
    src: url("../static/fonts/OpenSansBold/OpenSansBold.woff") format("woff");
}

@font-face {
    font-family: "OpenSansRegular";
    font-style: normal;
  
    src: url("../static/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff");
}

@font-face {
    font-family: "Exo2Bold";
    font-style: normal;
  
    src: url("../static/fonts/Exo2Bold/Exo2Bold.woff") format("woff");
}

@font-face {
    font-family: "OpenSansSemiBold";
    font-style: normal;
  
    src: url("../static/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff");
}

@font-face {
    font-family: "OpenSansLight";
    font-style: normal;
  
    src: url("../static/fonts/OpenSansLight/OpenSansLight.woff") format("woff");
}